 .sub-cat {
    float: left;
    background: #659993;
    padding: 5px 10px;
    margin-right: 10px;
}
#final_space {
    display: flex;
    justify-content:space-around; 
 }
 hr.solid {
  border-top: 1px solid #bbb;
}
hr.solid2 {
  border-top: 2px solid #bbb;
}
div.autoAdjust {
  height: auto;
  width: auto;
}